/* Global styles for media-chrome custom elements */

youtube-video,
soundcloud-player {
	aspect-ratio: 16 / 9;
	height: 100%;
	min-width: 200px;

	&:not([slot='media']) {
		display: none;
		pointer-events: none;
	}
}

media-controller,
media-control-bar {
	--media-background-color: transparent;
	--media-text-color: var(--gray-12);
	--media-primary-color: var(--gray-12);
	--media-icon-color: var(--gray-12);
	--media-control-padding: 0.5rem;
	--media-control-background: transparent;
	--media-control-hover-background: transparent;

	--media-button-icon-width: 1.5rem;
	--media-button-icon-height: 1.5rem;
	--media-button-padding: 0 0.5rem;

	--media-range-track-background: var(--gray-2);
	--media-loading-indicator-icon-width: 2rem;
	--media-loading-indicator-icon-height: 2rem;
}

media-control-bar {
	gap: var(--space-1);
}

media-time-display {
	user-select: none;
}

media-time-display,
media-time-range {
	--media-control-background: none;
}

media-time-range {
	/* Keep elapsed/played progress in active theme color. */
	--media-range-bar-color: var(--accent-9);
	--media-range-thumb-background: var(--accent-9);
}

.player {
	h2 a,
	h3 a {
		text-decoration: none;
	}
	p {
		margin: 0;
	}

	@media (min-width: 768px) {
		media-volume-range {
			display: initial;
			margin-left: var(--space-1);
			margin-right: var(--space-1);
		}
	}

	media-volume-range {
		display: none;
	}
}
