:root {
	/* Default base colors for generating a color scale.
	   Keep in sync with theme-editor.data.ts base color defaults. */
	--gray-light: oklch(0.67 0.012 70);
	--accent-light: oklch(0.5 0.25 290);

	--gray-dark: oklch(0.67 0.008 70);
	--accent-dark: oklch(0.63 0.2 296);

	--color-red: oklch(0.5 0.16 35);
	--color-error: var(--color-red);
	--color-warning: oklch(0.65 0.13 71);

	/* also see color-scales.css */
}
